:root {
    --alert: #D9534F;
    --sucess: #4BBF73;
    --primary: #307C9E;
    --warning: #FCB450;
    --gray1 : #545454;
    --gray2 :#D9D9D9;
    --gray3 : #E9EAEC;
    --white: #FFFFFF;  
    --white_2:#FAFAFA;

}

.COL1_ROW_USER{
   
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.Col_card_1_COLUMN_USER_BTN{
    display: flex;
    
    justify-content: center;
    height: 100%;
    align-items: center;
    
}

.Col_card_1_ROW_USER_BTN{
    

    color: var(--primary);
    margin: 5px;
    width: 50%;
    height: 50%;
    cursor: pointer;
}


.ROW_CARD__table_USER{
    
   /* background-color: var(--white_2);*/
    height: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05) !important;

}

.DIVIDER_row_card_ROW_USER{
    /*height: 60%;*/
    padding: 10px;
   
    justify-content: center;
}

.ROW_TEXT{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   
}
/* .ROW_TEXT_TITLE{
    margin-left: 10px;
} */

.row_table__CONTAINER{
    overflow-y: auto;
    width: 100%;
   /* height: 100%;*/
    background-color: var(--white);
    border: 1px solid var(--gray3);
   
}


.ROW_TABLE__TITTLE{
    
    background-color: var(--white_2);
    height: 40px;
    border: 1px solid var(--gray3);
    border-bottom: 2px solid var(--primary);
    border-radius: 4px 4px 0 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
}

.ROW_CARD_table_USER_SEARCH{
   
    font-size: 75%;
   /* background-color: var(--white_2);*/
    flex-direction: row-reverse;
    width: 100%;
}

/* .COL_ROW_USER_TITLE{
    margin-left: 10px;
} */



.ROW_USER_SEARCH{

    height: 100%;
    padding: 0 0 5px 0;
}

.ROW_USER_SEARCH input{
    padding: 5px;

    width: 100%;
    
    /*background-color: var(--white_2);*/
}

.ROW_USER_SEARCH input:focus {
    padding: 5px;
    color: var(--gray1);

    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(48 124 158 / 100%) !important;
  
  }
  
  .SEARCH_field{
  
    display: flex;

  }
  
  .SEARCH_field i {

    color: var(--gray1);
  }

  .button_add{
    color: var(--white) !important;
    background-color: var(--primary);
    /*margin: .375rem;*/
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    padding: .70rem 2.14rem;
    font-size: .65rem;
    border-radius: 5px

  }

  .TABLE_ALL_CONTAINER{
    /*padding: 20px 30px; */
    width: 100%;

    
  }

  .TABLE_COMPLETE{

    padding: 0 15px 15px 15px;
    align-items: center;
    justify-content: center;
  }